<!DOCTYPE html>
<html>
<head>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <title>Registration Form</title>
</head>
<body>
    <%- include('partials/_header') %>
    <h1>Registration Form</h1>
    <form action="/register" method="POST">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email"><br><br>
        
        <label for="password">Password:</label>
        <input type="password" id="password" name="password"><br><br>
        
        <input type="submit" value="Register">
    </form>
</body>
</html>